<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166892917-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {

            dataLayer.push(arguments);

        }
        gtag('js', new Date());

        gtag('config', 'UA-166892917-1');
    </script>
    <script data-ad-client="ca-pub-8811523407807032" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Bot Guide</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1>
                <a href="/">RogueStockBot</a>
            </h1>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-angle-down">Menu</a>
                        <ul>
                            <li><a href="bot-guide">Bot Guide</a></li>
                            <li><a href="stock-updates">Stock Updates</a></li>
                            <li><a href="current-items">Current Items</a></li>
                            <li><a href="privacy-policy">Privacy Policy</a></li>
                            <li><a href="terms">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>

        <!-- Main -->
        <section id="main" class="container">
            <header>
                <h2>Bot Guide</h2>
                <p>Tutorial of the Roge Stock Bot commands.</p>
            </header>
            <div class="box">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr>
                <h2>How to use</h2>
                <header>
                    <h3>1) Go to <a href="/current-items" target="_blank">current items</a> to check supported items
                        along with corresponding commands</h3>
                    <h4>Ex: the command for "Rogue Color Echo Bumper Plates" is "plate echo color"</h4>
                    <h3>2) DM the the FB Bot messenger <a href="https://m.me/roguestockbot" target="_blank">here</a> with each
                        search command from above</h3>
                    <h4>So in this step you type "plate echo color" and press enter to the FB bot</h4>
                    <h3>3) Wait for 1st reply back to confirm the search. The bot will now reply back whenever there's a
                        stock update.</h3>
                </header>
            </div>
            <div class="box">
                <h2>Commands and examples</h2>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <header>
                    <h3>help</h3>
                    <p>Lists all Rogue items that can be searched for along with URLs.</p>
                    <span class="image fit"><img src="images/help-command.png" alt="" /></span>
                </header>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr />

                <header>
                    <h3>status</h3>
                    <p>Lists the current items being searched and for how long.</p>
                    <span class="image fit"><img src="images/status-command.png" alt="" /></span>
                </header>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr />
                <header>
                    <h3>stop</h3>
                    <p>Stops searching for all items.</p>
                    <span class="image fit"><img src="images/stop-command.png" alt="" /></span>
                </header>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr />
                <header>
                    <h3>Searching items</h3>
                    <p>Look up what item you are searching from "help" command and type that into bot.
                        There will be a small delay before the first response. This will check the
                        current items in stock and continually check in the background until there
                        is a change in stock.
                    </p>
                    <span class="image fit"><img src="images/search-command-1.png" alt="" /></span>
                    <p>When the stock of an item changes you will receive a message indicating
                        with a green check mark what items are in stock.
                    </p>
                    <span class="image fit"><img src="images/search-command-2.png" alt="" /></span>
                </header>

                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li>
                    <a href="https://www.facebook.com/Rogue-Stock-Checker-110826560608309"
                        class="icon brands fa-facebook-f" target="_blank">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/jonniechow/RogueItemTracker" class="icon brands fa-github"
                        target="_blank">
                        <span class="label">Github</span>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>Not affiliated with RogueFitness</li>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</body>

</html>