<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>FAQ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script data-ad-client="ca-pub-8811523407807032" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1>
                <a href="/">RogueStockBot</a>
            </h1>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-angle-down">Menu</a>
                        <ul>
                            <li><a href="bot-guide">Bot Guide</a></li>
                            <li><a href="stock-updates">Stock Updates</a></li>
                            <li>
                                <a href="items-in-stock">Items in Stock</a>
                            </li>
                            <li><a href="current-items">Current Items</a></li>
                            <li><a href="faq">FAQ</a></li>
                            <li><a href="privacy-policy">Privacy Policy</a></li>
                            <li><a href="terms">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>

        <!-- Main -->
        <section id="main" class="container">
            <header>
                <h2>FAQ</h2>
                <p>Answer to most common questions.</p>
            </header>
            <div class="box">
                <script data-ad-client="ca-pub-8811523407807032" async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <h3>Is the bot working?</h3>
                <p>Yes, but it is slower than before since it checks every 5 min now.
                </p>

                <h3>How do I use this bot?</h3>
                <p>Check out this <a href="/bot-guide">link</a></p>

                <h3>Why am I not receiving a message back instantly from the bot?</h3>
                <p>Due to Rogue now adding rate limiting (blocking the bot from accessing the page content after certain
                    amount of tries), the bot has been
                    changed to a delay of 5 min. Because of this change, the bot will not be as fast the previous 30 sec
                    check. You will also receive the FIRST CHECK message after 5 min because of this.
                    Therefore, it is highly possible for the bot to miss high demand items such as boneyard, color plate
                    echos, etc.
                    However, the bot will be very helpful in securing less in demand items effectively.
                </p>

                <h3>How can I check if the bot is down?</h3>
                <p>Type 'status' and if the bot does not respond within 30 sec then it is down</p>

                <h3>Why are there ads on this site?</h3>
                <p>Hosting this site on Amazon for thousands of people costs me around $90 a month,
                    so it helps keep costs down and supports this bot!
                </p>

                <h3>The item I was looking for restocked but I did not receive a message, what happened?</h3>
                <p>There are two possibilites. First, there was most likely a server reset and your searches were
                    cleared.
                    Second, the item you were looking for was very high in demand, and it sold out too quick for
                    the bot to check. This is because since the bot checks every 5 min, if the bot checked
                    an item at 4:30 PM, but the item restocked at 4:31PM and sold out at 4:34PM, then you
                    won't receive a message since the bot will check again at 4:35PM.
                </p>

                <h3>How do I request items?</h3>
                <p>Email me at roguestockbot@gmail.com. Currently only adding Rogue items.</p>

                <h3>Do I need to research my items every time there's a reset?</h3>
                <p>Yes</p>

                <h3>What's a reset?</h3>
                <p>Every Sunday I reset the server to add updates/new items. This means that
                    all item searches and reset and you will need to add your searches again.
                    There are sometimes emergency resets if there's a major bug and I will make
                    a post on Facebook everytime this happens.
                </p>

                <h3>Have feedback or suggestions? Missing any FAQ?</h3>
                <p>Email me at roguestockbot@gmail.com</p>
            </div>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://www.facebook.com/Rogue-Stock-Checker-110826560608309"
                        class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/jonniechow/RogueItemTracker" class="icon brands fa-github"
                        target="_blank"><span class="label">Github</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Not affiliated with RogueFitness</li>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>