<!DOCTYPE HTML>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166892917-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {

            dataLayer.push(arguments);

        }
        gtag('js', new Date());

        gtag('config', 'UA-166892917-1');
    </script>
    <script data-ad-client="ca-pub-8811523407807032" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Rogue Stock Bot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="https://contextual.media.net/dmedianet.js?cid=8CU7J645E" async="async"></script>
</head>

<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1>
                <a href="/">RogueStockBot</a>
            </h1>
            <nav id="nav">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="bot-guide">Bot Guide</a></li>
							<li><a href="stock-updates">Stock Updates</a></li>
							<li>
                                <a href="items-in-stock">Items in Stock</a>
                            </li>
                            <li><a href="current-items">Current Items</a></li>
                            <li><a href="faq">FAQ</a></li>
							<li><a href="privacy-policy">Privacy Policy</a></li>
							<li><a href="terms">Terms and Conditions</a></li>
						</ul>
					</li>
				</ul>
			</nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <h2>Rogue Stock Bot</h2>
            <ul class="actions special">
                <li>
                    <a href="https://www.facebook.com/Rogue-Stock-Checker-110826560608309"
                        class="button primary icon brands fa-facebook-f" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="https://github.com/jonniechow/RogueItemTracker"
                        class="button primary icon brands fa-github" target="_blank">GitHub</a>
                </li>
            </ul>
        </section>

        <!-- Main -->
        <section id="main" class="container">

            <section class="box special">
                <div id="210047357">
                    <script type="text/javascript">
                        try {
                            window._mNHandle.queue.push(function (){
                                window._mNDetails.loadTag("210047357", "728x90", "210047357");
                            });
                        }
                        catch (error) {}
                    </script>
                </div>
                <header class="major">
                    <h2>Introducing the simple messenger bot
                        <br />
                        for checking Rogue equipment inventory</h2>

                </header>
                <ul class="actions special">
                    <li><a class="button special">People searching: <%=Object.keys(users).length %></a></li>
                    <li><a class="button special">Last Reset: <%=startTime %></a></li>
                </ul>
                <p>If this project has helped you get your equipment please consider donating to
                    a broke Computer Science student!
                    <br />Completely optional and this bot will
                    remain free!</p>
                <h3>Donations Greatly Appreciated!</h3>
                <h3>
                    <a href="https://paypal.me/roguestockbot" target="_blank">paypal.me/roguestockbot</a>
                </h3>
                <h3>Bitcoin Address</h3>
                <h4>19y7NK4Vn3G645c3w9VcyepU6qhBvi8ZDh</h4>
                <br>
                <div id="amzn-assoc-ad-5045b661-61cf-4290-8221-468b10a274b9"></div>
                <script async
                    src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=5045b661-61cf-4290-8221-468b10a274b9"></script>
                <hr />
                <!-- Youtube Video -->
                <h3>Youtube Tutorial</h3>
                <br>
                <div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vu2Dok97V50" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                        style="position:absolute; top:0; left:0; width:100%; height:100%;"></iframe>
                </div>
                <br>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <hr>
                <!-- Updates -->
                <h3>Updates</h3>

                <h4>10/1 10:00PM EST</h4>
                <h4>v 2.7</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Deep dish plates added</li>
                </ul>

                <h4>9/13 7:00PM EST</h4>
                <h4>v 2.6</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Changed delay to 10 seconds</li>
                    <li>Updated to bypass rate limiting check hopefully for now</li>
                </ul>

                <h4>9/6 8:00PM EST</h4>
                <h4>v 2.5</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>Added FAQ section</li>
                </ul>

                <h4>8/30 11:00PM EST</h4>
                <h4>v 2.4</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>Updated stock updates page to load faster</li>
                </ul>

                <h4>8/23 8:00PM EST</h4>
                <h4>v 2.3</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Updated bot to have a 5 min cooldown between checks</li>
                    <li>Bot is now less reliable due to Rogue's rate limiting</li>
                </ul>

                <h4>8/2 3:00PM EST</h4>
                <h4>v 2.2</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li> Updated in stock items to be more detailed</li>
                </ul>

                <h4>7/26 3:00PM EST</h4>
                <h4>v 2.1</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>All CA Links are now supported</li>
                </ul>

                <h4>7/19 10:30PM EST</h4>
                <h4>v 2.0</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items including Ironmaster</li>
                    <li>Updated /current-items to be easier to navigate</li>
                    <li>Included Youtube video tutorial on website</li>
                </ul>

                <h4>7/12 10:30PM EST</h4>
                <h4>v 1.9</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>Included last time in stock feature in 'status'</li>
                </ul>

                <h4>7/5 7:00PM EST</h4>
                <h4>v 1.8</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>Merged CA links to US links</li>
                    <li>Added number of users searching to /current-items</li>
                    <li>Can now stop single items with "stop item" ex. "stop plate echo color"</li>
                </ul>

                <h4>6/28 11:30PM EST</h4>
                <h4>v 1.7</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Added new items</li>
                    <li>Upgraded from AWS EC2 t2.small to t2.medium</li>
                </ul>

                <h4>6/21 10PM EST</h4>
                <h4>v 1.6</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Updated bot guide to be more helpful</li>
                    <li>Fixed grab bag barbells</li>
                    <li>Included loadable dumbbells and other items</li>
                </ul>

                <h4>6/14 10PM EST</h4>
                <h4>v 1.5</h4>
                <ul style="list-style-position: inside; text-align:left; margin: 0 4em 2em 4em;">
                    <li>Fixed cerakote options and customizable items such as Monster Utility Bench 2.0</li>
                    <li>Skips items no one is looking for to improve speed</li>
                    <li>Added new items including AU/UK items</li>
                </ul>

                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </section>

            <section class="box special features">
                <div class="features-row">
                    <section>
                        <span class="icon solid major fa-exclamation accent2"></span>
                        <h3>Message Alerts</h3>
                        <p>When item is back in stock, will PM you with what items are in stock.</p>
                    </section>
                    <section>
                        <span class="icon solid major  fa-caret-right accent3"></span>
                        <h3>Refresh Rate</h3>
                        <p>Checks items every 30 seconds for most up to date stock.</p>
                    </section>
                </div>
                <div class="features-row">
                    <section>
                        <span class="icon solid major fa-th-large accent4"></span>
                        <h3>10 Item Limit</h3>
                        <p>Limits users to ten items and prevents server from overloading.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-unlock-alt accent5"></span>
                        <h3>Free</h3>
                        <p>No cost to use at all.</p>
                    </section>
                </div>
                <!-- horizontal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8811523407807032"
                    data-ad-slot="6062146865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </section>

            <div class="row">
                <div class="col-6 col-12-narrower">


                    <section class="box special">
                        <span class="image featured"><img src="images/demo-plates.jpg" alt="" /></span>
                        <h3>Plates</h3>
                    </section>

                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-barbell.webp" alt="" /></span>
                        <h3>Barbells</h3>
                    </section>

                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-racks.webp" alt="" /></span>
                        <h3>Power Racks</h3>
                    </section>
                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-echo-bike.webp" alt="" /></span>
                        <h3>Echo Bike</h3>
                    </section>
                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-boneyard.jpg" alt="" /></span>
                        <h3>Boneyard</h3>
                    </section>

                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-bench.webp" alt="" /></span>
                        <h3>Benches</h3>
                    </section>

                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-squat.webp" alt="" /></span>
                        <h3>Squat Stands</h3>
                    </section>
                    <br>
                </div>
                <div class="col-6 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="images/demo-spotter-arms.jpg" alt="" /></span>
                        <h3>Accessories</h3>
                    </section>
                    <br>
                </div>

            </div>

        </section>
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li>
                    <a href="https://www.facebook.com/Rogue-Stock-Checker-110826560608309"
                        class="icon brands fa-facebook-f" target="_blank">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/jonniechow/RogueItemTracker" class="icon brands fa-github"
                        target="_blank">
                        <span class="label">Github</span>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>Not affiliated with RogueFitness</li>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</body>

</html>