<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166892917-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {

            dataLayer.push(arguments);

        }
        gtag('js', new Date());

        gtag('config', 'UA-166892917-1');
    </script>
    <script data-ad-client="ca-pub-8811523407807032" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Current Items</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1>
                <a href="/">RogueStockBot</a>
            </h1>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-angle-down">Menu</a>
                        <ul>
                            <li><a href="bot-guide">Bot Guide</a></li>
                            <li><a href="stock-updates">Stock Updates</a></li>
                            <li>
                                <a href="items-in-stock">Items in Stock</a>
                            </li>
                            <li><a href="current-items">Current Items</a></li>
                            <li><a href="privacy-policy">Privacy Policy</a></li>
                            <li><a href="terms">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <section id="main" class="container">
            <header>
                <h2>All Items in Stock</h2>
                <p>Contains list of all items currently in stock.</p>
            </header>
            <div class="box">
                <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ez&f=ifr&linkID=44c7d38d5ab5c602d55569e4a98d1e71&t=roguestockbot-20&tracking_id=roguestockbot-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                <section id="new" style="display: block; position: relative; visibility:hidden; top: -290px"></section>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Items in stock</th>
                                <th>People Searching</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody id="data_from_log">
                            <% Object.keys(data).forEach((entry, index)=>{%>
                            <% if (data[entry].prev_stock_count > 0) { %>
                            <tr>
                                <td><%=data[entry].product_name%></td>
                                <td><%=data[entry].prev_stock_count%></td>
                                <td><%=Object.keys(data[entry].sender_ids).length%></td>
                                <td>
                                    <a href="<%=data[entry].link%>" target="_blank">Link</a>
                                </td>
                            </tr>
                            <% } %>
                            <%});%>
                        </tbody>
                    </table>
                </div>
                <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ez&f=ifr&linkID=44c7d38d5ab5c602d55569e4a98d1e71&t=roguestockbot-20&tracking_id=roguestockbot-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li>
                    <a href="https://www.facebook.com/Rogue-Stock-Checker-110826560608309"
                        class="icon brands fa-facebook-f" target="_blank">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/jonniechow/RogueItemTracker" class="icon brands fa-github"
                        target="_blank">
                        <span class="label">Github</span>
                    </a>
                </li>
            </ul>
            <ul class="copyright">
                <li>Not affiliated with RogueFitness</li>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</body>

</html>