<% data.item_info.forEach((entry)=>{%>
    <tr>
        <td><%=entry.time%></td>
        <td><%=entry.name%></td>
        <td>
            <% entry.items.forEach((item)=>{%>
                <p><%=item%></p>
            <%});%>
        </td>
    </tr>
<%});%>